body {
    font-family: 'Montserrat', sans-serif;
    background-color: #cce4ff;
    color: #333;
    text-align: center;
    padding: 20px;
}
header h1 { 
    color: #003366; 
}
#toggle-resources {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #578ddf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#toggle-resources:hover {
    background-color: #003366;
    transform: translateY(-2px);
}
.resource-item {
    background-color: #66a3ff;
    padding: 20px;
    margin: 15px 0;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.resource-item h4 { 
    color: #003366; 
}
.navigate {
    margin-top: 30px;
}
.navigate-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #003366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.navigate-button:hover {
    background-color: #80d0ff;
    transform: translateY(-2px);
}
.resource-item a {
    word-break: break-all; 
    text-decoration: underline;
    color: #003366;
}
.resource-item a:hover {
    color: #80d0ff;
}